<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="theme-assets/profile_2206.JPG" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
        <h3 class="header-title-email">AI Research Scientist<br>gina.ai at kakaobrain dot com</h3>
        <p class="header-link"><a href="theme-assets/GinaLee_CV_2312_Updated.pdf" target="_blank" rel="noopener noreferrer"> [Resume] </a><a href="https://scholar.google.com/citations?user=lArnR6gAAAAJ&hl=ko" target="_blank" rel="noopener noreferrer"> [Google Scholar] </a><a href="https://github.com/GinaJihyeonLee" target="_blank" rel="noopener noreferrer"> [Github] </a><a href="https://www.linkedin.com/in/ginajihyeonlee" target="_blank" rel="noopener noreferrer"> [Linkedin] </a></p>        

        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

    </header>

      {% if site.resume_section_about_me %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>About Me</h2>
        </header>

        <div class="executive-summary" itemprop="description">
            <!-- <h2>About Me</h2> -->
            <div>I am an NLP researcher at <a style="text-decoration:underline; color: #000000;" href="https://www.kakaobrain.com/" target="_blank" rel="noopener noreferrer">Kakao Brain</a>. I received an Master at <a style="text-decoration:underline; color: #000000;" href="https://gsai.kaist.ac.kr/" target="_blank" rel="noopener noreferrer">KAIST Graduate School of Artificial Intelligence</a>, under the advisement of <a style="text-decoration:underline; color: #000000" href="https://sites.google.com/site/jaegulchoo/" target="_blank" rel="noopener noreferrer">Jaegul Choo</a>.
                Before that, I obtained a Bachelor in Biz&Tech Management and Industrial Engineering at KAIST.
            <br><br>
            I am interested in addressing <code style="padding: 2px 4px; color: #df2854; background-color: #EFEBEF; border-radius: 4px; font-size: 95%">trustworthy and practical AI/ML challenges in the real world</code>. My recent efforts center on enhancing the coding and reasoning capabilities of LLMs and employing LLMs as tool agents.
            In the past, I have contributed to projects addressing large-scale foundation model training, in-context learning optimization, fair and robust language generation, multimodal question-answering, and unbiased representation learning.
            I am also interested in the robustness and fairness of language models, knowledge-augmented LMs, and multimodal generative AI.</div>
            <br>                    
            <!-- <div>
                <p>Detailed resume can be found in the following link.</p>
                <a class="read-more" href="theme-assets/GinaLee_CV_2312_Updated.pdf" target="_blank" rel="noopener noreferrer" title="Case studies">Full resume →</a>
            </div>             -->
        </div>
      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_latest_news %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2>Latest News</h2>
        </header>

        <div>
          <code style="padding: 2px 4px; font-weight: bold;">Sep 2023&nbsp;</code>&emsp; &#127908; Invited talk at Singapore Management University<br>
          <code style="padding: 2px 4px; font-weight: bold;">Jun 2023&nbsp;</code>&emsp; &#128640; Promoted to Project Leader at Kakao Brain<br>
          <code style="padding: 2px 4px; font-weight: bold;">Jan 2023&nbsp;</code>&emsp; &#127942; Paper accepted to EACL 2023 findings<br>    
          <code style="padding: 2px 4px; font-weight: bold;">Aug 2022&nbsp;</code>&emsp; &#127942; Paper accepted to WACV 2023<br>    
            <code style="padding: 2px 4px; font-weight: bold;">Feb 2022&nbsp;</code>&emsp; &#127891; Officially a Master in Artificial Intelligence<br>
            <code style="padding: 2px 4px; font-weight: bold;">Oct 2021&nbsp;</code>&emsp; &#128640; Working at Kakao Brain as an AI Research Scientist<br>
            <code style="padding: 2px 4px; font-weight: bold;">Oct 2021&nbsp;</code>&emsp; &#127942; Paper accepted to NeurIPS 2021 as an Oral presentation<br>
            <code style="padding: 2px 4px; font-weight: bold;">Jul 2021&nbsp</code>&emsp; &#127942; Paper accepted to ICCV 2021<br>    
            <code style="padding: 2px 4px; font-weight: bold;">Jul 2021&nbsp</code>&emsp; &#128205; Starting my internship at Kakao Brain<br>
            <code style="padding: 2px 4px; font-weight: bold;">Aug 2020&nbsp;</code>&emsp; &#128205; Working at Naver Papago as a Collaborative Researcher<br>
            <code style="padding: 2px 4px; font-weight: bold;">Aug 2020&nbsp;</code>&emsp; &#127891; Graduated cum laude with a Bachelor in Industrial Engineering & Business Management<br>
            <code style="padding: 2px 4px; font-weight: bold;">Aug 2020&nbsp;</code>&emsp; &#128640; Working at Classum as a Data Analyst&Marketer<br>
        </div>
      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_publications %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Publications</h2>
        </header>

        <div style="overflow: auto">
            <div style="display: flex">
                <div style="flex: 20%;">
                    <img src="theme-assets/debias.png" width="100px" alt="" style="margin:10px; margin-top:20px;">
                </div>
                <div style="flex: 80%; align-self: center">
                    <p class="lead">
                    <span style="font-weight: 700;">BiaSwap: Removing Dataset Bias with Bias-Tailored Swapping Augmentation</span><br>
                    <span style="font-size: 14px;">Eungyeup Kim*,<span style="font-weight: 700;">Jihyeon Lee*</span>, Jaegul Choo</span><br>
                    <i style="font-size: 14px;">International Conference on Computer Vision (ICCV), 2021, Accepted</i><br>
                    <a href="https://arxiv.org/abs/2108.10008" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Paper]</a>
                    </p>
                </div>
            </div>
            <div style="display: flex">
                <div style="flex: 20%">
                    <img src="theme-assets/debias2.png" width="100px" alt="" style="margin:10px; margin-top:20px;">
                </div>
                <div style="flex: 80%; align-self: center">
                    <p class="lead">
                    <span style="font-weight: 700;">Learning Debiased Representation via Disentangled Feature Augmentation</span><br>
                    <span style="font-size: 14px;">Jungsoo Lee*, Eungyeup Kim*, Juyoung Lee, <span style="font-weight: 700;">Jihyeon Lee</span>, Jaegul Choo</span><br>
                    <i style="font-size: 14px;">Conference on Neural Information Processing Systems (NeurIPS), 2021, Accepted as Oral Presentation (< 1% acceptance rate)</i><br>
                    <!-- <a href="https://arxiv.org/abs/1910.02806" class="read-more-button">Robustness</a> -->
                    <a href="https://arxiv.org/abs/2107.01372" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Paper]</a>
                    <a href="https://github.com/kakaoenterprise/Learning-Debiased-Disentangled" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Code]</a>
                    <i style="color: #df2854; font-size: 14px;">Oral presentation</i>
                    </p>
                </div>
            </div>
            <div style="display: flex">
                <div style="flex: 20%">
                    <img src="theme-assets/dsr.png" width="100px" alt="" style="margin:10px; margin-top:20px;">
                </div>
                <div style="flex: 80%; align-self: center">
                    <p class="lead">
                    <span style="font-weight: 700;">Dense but Efficient VideoQA for Intricate Compositional Reasoning</span><br>
                    <span style="font-size: 14px;"><span style="font-weight: 700;">Jihyeon Lee*</span>, Wooyoung Kang*, Eunsol Kim</span><br>
                    <i style="font-size: 14px;">Winter Conference on Applications of Computer Vision (WACV), 2023, Accepted</i><br>
                    <a href="https://arxiv.org/abs/2210.10300" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Paper]</a>
                    <!-- <a href="https://arxiv.org/abs/1910.02806" class="read-more-button">Robustness</a> -->
                    </p>
                </div>
            </div>
            <div style="display: flex">
                <div style="flex: 20%">
                    <img src="theme-assets/pepal.png" width="100px" alt="" style="margin:10px; margin-top:20px;">
                </div>
                <div style="flex: 80%; align-self: center">
                    <p class="lead">
                    <span style="font-weight: 700;">PePe: Personalized Post-editing Model utilizing User-generated Post-edits</span><br>
                    <span style="font-size: 14px;"><span style="font-weight: 700;">Jihyeon Lee*</span>, Taehee Kim*, Yunwon Tae*, Chunbok Park, Jaegul Choo</span><br>
                    <i style="font-size: 14px;">European Chapter of the Association for Computational Linguistics (EACL), 2023, Accepted</i><br>
                    <a href="https://arxiv.org/abs/2209.10139" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Paper]</a>
                    </p>
                </div>
            </div>
            <div style="display: flex">
              <div style="flex: 20%">
                  <img src="theme-assets/fid_rag.png" width="100px" alt="" style="margin:10px; margin-top:20px;">
              </div>
              <div style="flex: 80%; align-self: center">
                  <p class="lead">
                  <span style="font-weight: 700;">Exploiting the Potential of Seq2Seq Models as Robust Few-Shot Learners</span><br>
                  <span style="font-size: 14px;"><span style="font-weight: 700;">Jihyeon Lee*</span>, Dain Kim*, Doohae Jung*, Boseop Kim, Kyoung-Woon On</span><br>
                  <i style="font-size: 14px;">ArXiv preprinted</i><br>
                  <a href="https://arxiv.org/abs/2307.14856" target="_blank" rel="noopener noreferrer" style="font-size: 14px">[Paper]</a>
                  </p>
              </div>
          </div>
      </div>
        
      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2>Outside Interests</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Interests -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li><a href={{ link.url }} itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">This page is modified from <a href="https://github.com/jglovier/resume-template">@jglovier's repo</a>.</p>
      </footer>

    </div>

  </body>

</html>
